.options {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
}

.action-btn {
  --bg-color-hue: 268;
  --bg-color-saturation: 100%;
  --bg-color-lightness: 61%;
  color: white;
}

@media (max-width: 1124px) {
  .options {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 564px) {
  .options {
    grid-template-columns: repeat(3, 1fr);
  }
}
