@import '../node_modules/normalize.css/normalize.css';
@import './styles/button.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
